.nicknameBox {
  background-color: #e2e2e2;
  width: 300px;
  height: 350px;
  margin: auto;
  margin-top: calc(50vh - 220px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.nicknameBoxHeader {
  width: 100%;
  min-height: 100px;
  background-color: #911E2B;
  background-image: url(../../assets/images/gameTitle.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nicknameForm {
  padding: 15px
}

.indication {
  margin: 5px 0;
  text-align: center;
}

.nicknameInput {
  margin: 5px 0px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #333;
}

.nicknameValidation {
  margin-top: 15px;
  width: 100%;
  padding: 50px 0;
  border: none;
  background-color: #88585d;
  transition: all 0.2s;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.nicknameValidation:hover {
  transform: scale(1.05);
  background-color: #911E2B;
}
