.homeContainer {
  width: 100%;
  height: calc(100vh-60px);
  display: flex;
  justify-content: space-around;
}

.rulesBox, .homeSubContainer1, .homeSubContainer2 {
  width: 29%;
  min-height: 20px;
  height: fit-content;
  max-height: calc(100vh-60px);
  overflow-y: auto;
}

.homeContent {
  overflow-y: auto;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

.rulesBox {
  text-align: justify;
}

.homeCatanLogo {
  margin: 30px auto;
  height: 100px;
  width: 300px;
  background-image: url(../../assets/images/gameTitleBackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.gameList {
}

.playerList {
  max-height: 30vh;

  .player--itsme {
    color: #db3131;
    font-weight: 600;
  }
}


.globalChat {
  max-height: 59vh;

  .chatSeparator {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .messageBox {
      min-height: 25px;
      max-height: 49vh;
      overflow-y: auto;

      .author {
        min-width: 30px;
      }

      .time {
        min-width: 30px;
      }

      .message {
        word-break: break-all;
      }

      .message--itsme {
        color: #db3131;
      }

      td {
        padding: 4px;
      }
    }

    .chatInput {
      display: flex;
      margin-top: 5px;

      .messageInput {
        padding: 3px 10px;
        margin-right: 5px;
        width: 100%;
        border: 1px solid #cccccc;
        border-radius: 15px;
      }
  
      .messageValidation {
        padding: 3px 10px;
        border-radius: 15px;
        color: #aaa;
        border: 1px solid #cccccc;
      }

      .messageValidation--OK {
        color: #fff;
        background-color: #196097;
      }

      .messageValidation--OK:hover {

      }
    }

  }
}

.title1 {
  font-size: 25px;
  margin-bottom: 10px;
}
